html, body {
	background: #fff;
	padding: 3px;
	color: #000;
	margin: 0px;
	}

.left {
    background-color: #F35C5C;
}

.right {
    background-color: #47AACA;
}

.mid {
    background-color: lightgrey;
}

.row {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 12.5vh;
}

.rowCell {
  height: 100%;
  width: 33vw;
  text-align: center;
  font-size: 150px;
  display:inline-block;
  border: 0px;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
}

.rowCell button {
  height: 100%;
  width: 100%;
  font-size: 150px;
}
