.left {
    background-color: red;
}

.right {
    background-color: lightblue;
}

.mid {
    background-color: lightgrey;
}

#dartboard .row div {
  height: 50px;
  text-align: center;
  font-size: 40px;
}
